body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
*{
    box-sizing: border-box;
}
h2{
    text-align: center;
}
a{
    text-decoration: none;
}
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}
#logo img{
    width: 30%;
    margin-top: 5px;
}
#Contactofme{
    width: 80%;
    margin: auto;
    text-align: center;
}
#nav-menu{
    display: flex;
    gap: 20px;
}
.contaclinks{
    border-radius: 10px;
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: rgb(1, 242, 162);
}
.nav-link{
    padding: 5px;
}
#Contactofme img{
    width: 100%;
}
#prophoto{
    width: 20%;
    margin: auto;
    margin-bottom: 10px;
}
.resume{
    background-color: rgb(41, 244, 41);
    padding: 5px;
    border-radius: 10px;
}

.resume:hover{
    color:white;
    background-color: black;
}
.resume:active{
    transform: scale(0.85);
    /* transform: scale(0.85); */
    box-shadow: 3px 2px 25px 1px rgba(0,0,0,0.25);
}
h3{
    text-align: center;
}
#user-detail-intro{
    width: 60%;
    margin: auto;
    margin-top: 40px;
    text-align: justify;
}

#projects{
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 10px;
}
.project-card{
    text-align: center;
}


.skills-card-img{
    width: 80%;
}
#skills{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
}
.skills-card{
    width: 20%;
    border: 1px solid black;
}