* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}
html{
  scroll-behavior: smooth;
}
body{
  background-color: #101010;
  color: white;
}
h1{
  margin-top: 3%;
  margin-bottom: 3%;

  padding: 0px;
  text-align: center;
  
}

h2 {
  margin-top: 3%;
  margin-bottom: 3%;
  text-align: center;

}
a {
  text-decoration: none;
}
#navbar {
  position: sticky;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}
#navbar img{
width: 5%;
}
#nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav-link{
  font-size: 1rem;
  font-weight: 400;
  color: #475569;
  padding: 0px 10px;
}

.nav-link:hover{
  color: #482ff7;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: rgb(1, 242, 162);
}

#Contactofme {
  width: 80%;
  margin: auto;
  text-align: center;
}
.contaclinks {
  border-radius: 10px;
  text-decoration: none;
  color: white;
  padding: 10px;
  background-color: rgb(1, 242, 162);
}
#home{
  width: 70%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}
#home img {
  border-radius: 50%;
  width: 20%
}
#user-detail-name{

  font-size: 200%;
}
#user-detail-name #name{
  font-size: 250%;
}
.resume {
  background-color: rgb(41, 244, 41);
  padding: 5px;
  border-radius: 10px;
  height: max-content;
}

.resume:hover {
  color: white;
  background-color: black;
}
.resume:active {
  transform: scale(0.85);
  box-shadow: 3px 2px 25px 1px rgba(0, 0, 0, 0.25);
}
.about{
  margin-top:5%;
  margin-bottom:5%;
}
h3 {
  text-align: center;
}
#user-detail-intro {
  width: 60%;
  margin: auto;
  text-align: justify;
}
#projects{
  margin-top:5%;
  margin-bottom:5%;
}

#projectsgrid {
  margin: auto;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.project-card {
  text-align: center;
  width: 100%;
}
.project-card img{
  text-align: center;
  width: 100%;
}
.project-github-link, .project-deployed-link{
  border-radius: 10px;
  text-decoration: none;
  color: white;
  margin:10px ;
  padding: 10px;
  background-color: rgb(1, 242, 162);

}

.project-tech-stack{
  margin-bottom: 20px;
}

#skills{
  margin-top:5%;
  margin-bottom:5%;
}

.skills-card-img {
  width: 50%;
}
#skillsflex {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 40px;
  justify-content: center;
  text-align: center;
}
.skills-card {
  width: 40%;

}
@media only screen and (max-width: 600px) {
  #nav-menu {
      position: absolute;
      left: -100%;
      top: 5rem;
      flex-direction: column;
      background-color: #fff;
      width: 100%;
      border-radius: 10px;
      transition: 0.3s;
      box-shadow:
          0 10px 27px rgba(0, 0, 0, 0.05);
  }

  #nav-menu.active {
      left: 0;
  }

 

  .hamburger {
      display: block;
      cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}
}